**Se** importa la librería a utilizar.

In [3]:
import pandas as pd
from numpy import random

**Se instala herramientas de importacion de datasets**

In [5]:
!pip install opendatasets

Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from opendatasets) (4.66.4)
Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (from opendatasets) (1.6.14)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from opendatasets) (8.1.7)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2024.2.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.31.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.0.7)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (6.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (3.7)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22

In [6]:
#Acceder al repositorio de acceso
import opendatasets as od
dataset_link= 'https://www.kaggle.com/competitions/abandono-carrito/data'

**Credenciales de acceso al repositorio**

**Username: victorrincon8624**

**Key: 9da31f5fdc974f4b55269f370bb78082**

In [6]:
#Ingresar credenciales de acceso para el repositorio
od.download(dataset_link)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: victorrincon8624
Your Kaggle Key: ··········
Downloading abandono-carrito.zip to ./abandono-carrito

100%|██████████| 8.92M/8.92M [00:01<00:00, 8.02MB/s]

Extracting archive ./abandono-carrito/abandono-carrito.zip to ./abandono-carrito

Se crea el dataframe "payments" a partir del csv "olist_order_payments_dataset" y se visualizan los primeros 3 registros.

In [7]:
payments = pd.read_csv('/content/abandono-carrito/olist_order_payments_dataset.csv')
payments.head(3)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71

In [8]:
#Visualizamos la cantidad de filas en los ds
print(pd.read_csv('/content/abandono-carrito/olist_order_payments_dataset.csv').shape)
print(pd.read_csv('/content/abandono-carrito/olist_order_reviews_dataset.csv').shape)
#Comparamos los ds para validar que tengan el mismo numero de filas
print(int(pd.read_csv('/content/abandono-carrito/olist_order_payments_dataset.csv').shape[0])-int(pd.read_csv('/content/abandono-carrito/olist_order_reviews_dataset.csv').shape[0]))
#Normalizamos los ds para poder manipularlos
payments.drop(payments.index[99223:103885], inplace=True)
payments.order_id

(103886, 5)
(99224, 7)
4662

0         b81ef226f3fe1789b1e8b2acac839d17
1         a9810da82917af2d9aefd1278f1dcfa0
2         25e8ea4e93396b6fa0d3dd708e76c1bd
3         ba78997921bbcdc1373bb41e913ab953
4         42fdf880ba16b47b59251dd489d4441a
                        ...
99219     8e573d30402e9b57443d6dd90ab0262f
99220     0231f6b89e5798ff6c0dfb1e18a94da9
99221     4669128c3280c4b2c99e4de410143681
99222     518e50004c3dded8e8a25b96b47d116a
103885    28bbae6599b09d39ca406b747b6632b1
Name: order_id, Length: 99224, dtype: object

Se explora la composición del dataframe.

In [9]:
payments.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99224 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   order_id              99224 non-null  object
 1   payment_sequential    99224 non-null  int64
 2   payment_type          99224 non-null  object
 3   payment_installments  99224 non-null  int64
 4   payment_value         99224 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.5+ MB

In [15]:
#Se coloca un id de la orden valido
payments.drop(labels='order_id', axis= 1, inplace =True)
p_order_id= random.randint(100000, size=(99224))
#payments['order_id']= payments.order_id.replace(random.randint(100000, size=(99224)))
payments.insert(0, 'order_id', p_order_id)
payments.head(3)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,95318,1,credit_card,8,99.33
1,3369,1,credit_card,1,24.39
2,85059,1,credit_card,1,65.71

In [16]:
payments.order_id.shape

(99224,)

Se corrobora la presencia de registros duplicados.

In [17]:
payments.duplicated('order_id').sum()

36245

Se eliminan los registros duplicados.

In [18]:
payments.drop_duplicates('order_id')

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,95318,1,credit_card,8,99.33
1,3369,1,credit_card,1,24.39
2,85059,1,credit_card,1,65.71
3,7944,1,credit_card,8,107.78
4,53393,1,credit_card,2,128.45
...,...,...,...,...,...
99217,22036,1,boleto,1,112.73
99218,42787,1,credit_card,7,147.15
99219,17422,1,credit_card,10,297.58
99222,13599,1,credit_card,3,48.75
103885,83983,1,boleto,1,191.58

In [19]:
payments.shape

(99224, 5)

Se exploran los valores unico de la columna "payment_sequential" (cantidad de tipos de pago).

In [20]:
payments['payment_sequential'].unique()

array([ 1,  2,  4,  5,  3,  8,  6,  7, 10, 11, 17, 19, 27, 12,  9, 15, 13,
       14, 16, 25, 22, 26, 29, 28, 18, 21, 24, 23, 20])

Se exploran los valores unico de la columna "payment_type" (Método de pago).

In [21]:
payments['payment_type'].unique()

array(['credit_card', 'boleto', 'voucher', 'debit_card', 'not_defined'],
      dtype=object)

Se exploran los valores unico de la columna "payment_installments" (Cantidad de cuotas).

In [22]:
payments['payment_installments'].unique()

array([ 8,  1,  2,  3,  6,  5,  4, 10,  7, 12,  9, 13, 15, 24, 11, 18, 14,
       20, 21, 17, 22,  0, 16, 23])

Se realiza una copia del dataframe.

In [23]:
payments_copy=payments.copy()

Se eliminan las columnas innecesarias.

In [24]:
df_payments=payments_copy.drop(labels=['order_id','payment_sequential'], axis=1)

Se visualizan los primeros registros del dataframe, luego de las modificaciones.

In [25]:
df_payments.head()

  payment_type  payment_installments  payment_value
0  credit_card                     8          99.33
1  credit_card                     1          24.39
2  credit_card                     1          65.71
3  credit_card                     8         107.78
4  credit_card                     2         128.45

Se exporta el dataframe a un archivo csv.

In [26]:
df_payments.to_csv("df_payments.csv")

Se crea el dataframe "reviews" a partir del csv "olist_order_reviews_dataset" y se visualizan los primeros 5 registros.

In [27]:
reviews=pd.read_csv('/content/abandono-carrito/olist_order_reviews_dataset.csv')
reviews.head(3)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24

Se explora el dataframe.

In [28]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [36]:
#Se coloca un id de la orden valido
filas_totales=payments.shape
reviews['review_id']= payments['order_id']
reviews

,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,95318.0,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,3369.0,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,85059.0,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,7944.0,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,53393.0,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
...,...,...,...,...,...,...
99219,17422.0,5,NaN,NaN,2018-07-07 00:00:00,2018-07-14 17:18:30
99220,68524.0,5,NaN,NaN,2017-12-09 00:00:00,2017-12-11 20:06:42
99221,77092.0,5,NaN,"Excelente mochila, entrega super rápida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43
99222,13599.0,4,NaN,NaN,2018-07-01 00:00:00,2018-07-02 12:59:13
99223,NaN,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49

In [52]:
reviews['review_id'].dropna( inplace=True)

Se cuenta la cantidad de nulos por columna.

In [54]:
reviews.isnull().sum()

review_id                      1
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

Se cuenta la cantidad de registros duplicados.

In [46]:
reviews.duplicated('review_id').sum()

36245

Se eliminan los duplicados.

In [55]:
reviews.drop_duplicates('review_id')

,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,95318.0,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,3369.0,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,85059.0,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,7944.0,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,53393.0,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
...,...,...,...,...,...,...
99217,22036.0,5,NaN,NaN,2017-12-13 00:00:00,2017-12-14 11:09:36
99218,42787.0,5,NaN,NaN,2018-04-27 00:00:00,2018-04-30 01:18:57
99219,17422.0,5,NaN,NaN,2018-07-07 00:00:00,2018-07-14 17:18:30
99222,13599.0,4,NaN,NaN,2018-07-01 00:00:00,2018-07-02 12:59:13
99223,NaN,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49

Se visualizan los valores único de la columna "review_comment_title".

In [56]:
reviews['review_comment_title'].unique()

array([nan, 'recomendo', 'Super recomendo', ...,
       'Não foi entregue o pedido', 'OTIMA EMBALAGEM', 'Foto enganosa '],
      dtype=object)

Se visualizan los valores único de la columna "review_comment_message".

In [57]:
reviews['review_comment_message'].unique()

array([nan, 'Recebi bem antes do prazo estipulado.',
       'Parabéns lojas lannister adorei comprar pela Internet seguro e prático Parabéns a todos feliz Páscoa',
       ...,
       'O produto não foi enviado com NF, não existe venda sem NF, com certeza fico no aguardo do envio da NF podendo ser por e-mail.',
       'Excelente mochila, entrega super rápida. Super recomendo essa loja!',
       'meu produto chegou e ja tenho que devolver, pois está com defeito , não segurar carga'],
      dtype=object)

Se realiza una copia del dataframe.

In [58]:
reviews_copy=reviews.copy()

Se eliminan las columnas innecesarias de la copia del dataframe.

In [59]:
df_reviews=reviews_copy.drop(['review_id','order_id','review_comment_title','review_comment_message'],axis=1)
df_reviews.head()

KeyError: "['order_id'] not found in axis"

Se exporta el dataframe a un nuevo archivo csv.

In [ ]:
df_reviews.to_csv('df_reviews.csv')

Se crea el dataframe "countries" a partir del csv "Countries-with-Top-Sellers-(Fashion-C2C)" y se visualizan los primeros 5 registros.

In [66]:
countries=pd.read_csv('/content/abandono-carrito/Countries-with-Top-Sellers-(Fashion-C2C).csv', index_col=False  )
countries.head()

,index,country,sellers,topsellers,topsellerratio,femalesellersratio,topfemalesellersratio,femalesellers,malesellers,topfemalesellers,...,topmeanproductssold,topmeanproductslisted,meanproductssold,meanproductslisted,meanofflinedays,topmeanofflinedays,meanfollowers,meanfollowing,topmeanfollowers,topmeanfollowing
0,0,Taiwan,1,1,100.0,100.0,100.0,1,0,1,...,57.00,56.00,57.000000,56.000000,11.0,11.0,83.0,8.0,83.0,8.0
1,1,Slovaquie,2,1,50.0,0.0,0.0,0,2,0,...,27.00,14.00,14.000000,7.000000,17.0,15.0,10.5,8.5,15.0,8.0
2,2,Lettonie,4,2,50.0,100.0,100.0,4,0,2,...,40.50,18.00,20.750000,9.000000,120.3,11.5,21.0,52.3,38.0,98.5
3,3,Bulgarie,9,4,44.4,66.7,100.0,6,3,4,...,36.25,17.25,18.888889,9.111111,98.3,19.0,28.6,31.6,46.3,19.0
4,4,Chypre,4,1,25.0,100.0,100.0,4,0,1,...,41.00,66.00,14.000000,20.250000,17.3,11.0,21.3,10.3,39.0,17.0

In [67]:
countries= countries.rename(columns={'country': 'state'})

Se explora la composición del dataframe.

In [68]:
countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   19 non-null     int64
 1   state                   19 non-null     object
 2   sellers                 19 non-null     int64
 3   topsellers              19 non-null     int64
 4   topsellerratio          19 non-null     float64
 5   femalesellersratio      19 non-null     float64
 6   topfemalesellersratio   19 non-null     float64
 7   femalesellers           19 non-null     int64
 8   malesellers             19 non-null     int64
 9   topfemalesellers        19 non-null     int64
 10  topmalesellers          19 non-null     int64
 11  countrysoldratio        19 non-null     float64
 12  bestsoldratio           18 non-null     float64
 13  toptotalproductssold    19 non-null     int64
 14  totalproductssold       19 non-null     int64
 15  toptotalproductslisted  19 non-null     int64
 16  totalproductslisted     19 non-null     int64
 17  topmeanproductssold     19 non-null     float64
 18  topmeanproductslisted   19 non-null     float64
 19  meanproductssold        19 non-null     float64
 20  meanproductslisted      19 non-null     float64
 21  meanofflinedays         19 non-null     float64
 22  topmeanofflinedays      19 non-null     float64
 23  meanfollowers           19 non-null     float64
 24  meanfollowing           19 non-null     float64
 25  topmeanfollowers        19 non-null     float64
 26  topmeanfollowing        19 non-null     float64
dtypes: float64(15), int64(11), object(1)
memory usage: 4.1+ KB

Se realiza una copia de dataframe.

In [69]:
countries_copy=countries.copy()

In [73]:
countries_copy['state']= countries_copy['state'].replace({'Taiwan':'Espírito Santo', 'Slovaquie':'Minas Gerais','Lettonie':'Río de Janeiro', 'Bulgarie':'São Paulo', 'Chypre':'Distrito Federal'})

Se eliminan las columnas innecesarias.

In [74]:
df_countries=countries_copy.drop('index', axis=1)
df_countries.head()

,state,sellers,topsellers,topsellerratio,femalesellersratio,topfemalesellersratio,femalesellers,malesellers,topfemalesellers,topmalesellers,...,topmeanproductssold,topmeanproductslisted,meanproductssold,meanproductslisted,meanofflinedays,topmeanofflinedays,meanfollowers,meanfollowing,topmeanfollowers,topmeanfollowing
0,Espírito Santo,1,1,100.0,100.0,100.0,1,0,1,0,...,57.00,56.00,57.000000,56.000000,11.0,11.0,83.0,8.0,83.0,8.0
1,Minas Gerais,2,1,50.0,0.0,0.0,0,2,0,1,...,27.00,14.00,14.000000,7.000000,17.0,15.0,10.5,8.5,15.0,8.0
2,Río de Janeiro,4,2,50.0,100.0,100.0,4,0,2,0,...,40.50,18.00,20.750000,9.000000,120.3,11.5,21.0,52.3,38.0,98.5
3,São Paulo,9,4,44.4,66.7,100.0,6,3,4,0,...,36.25,17.25,18.888889,9.111111,98.3,19.0,28.6,31.6,46.3,19.0
4,Distrito Federal,4,1,25.0,100.0,100.0,4,0,1,0,...,41.00,66.00,14.000000,20.250000,17.3,11.0,21.3,10.3,39.0,17.0

Se exporta a un nuevo archivo csv.

In [ ]:
df_countries.to_csv('df_countries.csv')

Se crea el dataframe "comparison" a partir del csv "Comparison-of-Sellers-by-Gender-and-Country" y se visualizan los primeros 5 registros.

In [4]:
comparison=pd.read_csv('/content/abandono-carrito/Comparison-of-Sellers-by-Gender-and-Country.csv')
comparison.head()

FileNotFoundError: [Errno 2] No such file or directory: '/content/abandono-carrito/Comparison-of-Sellers-by-Gender-and-Country.csv'

In [94]:
comparison.groupby(by='nbsellers').max()

,index,country,sex,meanproductssold,meanproductslisted,meansellerpassrate,totalproductssold,totalproductslisted,meanproductsbought,meanproductswished,meanproductsliked,totalbought,totalwished,totalproductsliked,meanfollowers,meanfollows,percentofappusers,percentofiosusers,meanseniority
nbsellers,,,,,,,,,,,,,,,,,,,
1,69,Îles Canaries,Male,57.00,56.00,98.00,57,56,23.00,707.00,792.00,23,707,792,83.0,157.0,100.0,100.0,3204.000000
2,61,Slovaquie,Male,14.00,7.00,74.50,28,14,0.50,0.50,28.00,1,1,56,15.0,8.5,100.0,100.0,3199.500000
3,57,Russie,Male,6.00,4.33,54.00,18,13,24.67,633.67,178.33,74,1901,535,20.0,63.7,100.0,100.0,3197.666667
4,54,Roumanie,Male,20.75,9.75,45.00,83,39,6.00,18.00,96.00,24,72,384,21.0,52.3,75.0,75.0,3200.500000
5,64,Suisse,Male,11.20,16.40,70.00,56,82,3.00,185.40,266.60,15,927,1333,19.2,18.6,60.0,60.0,3133.000000
6,66,Suède,Male,31.67,4.50,60.83,190,27,2.33,18.00,18.83,14,108,113,34.7,10.3,83.0,83.0,3141.833333
7,10,Bulgarie,Female,22.29,11.71,71.71,156,82,4.86,124.43,120.29,34,871,842,29.1,14.4,71.0,57.0,3150.142857
8,42,Luxembourg,Male,5.25,1.75,36.25,42,14,17.13,31.13,58.13,137,249,465,14.4,9.8,75.0,75.0,3157.500000
10,16,Croatie,Female,10.70,6.90,32.60,107,69,0.80,4.70,21.40,8,47,214,15.1,8.8,60.0,40.0,3061.700000
11,63,Suisse,Female,3.55,19.45,32.30,39,214,1.27,15.09,8.45,14,166,93,8.9,8.3,54.0,54.0,3075.363636
13,53,Roumanie,Female,3.38,4.15,18.62,44,54,1.08,5.00,31.77,14,65,413,7.6,8.2,69.0,53.0,3121.000000
14,51,Portugal,Female,2.50,5.57,37.21,35,78,3.50,61.21,461.79,49,857,6465,13.4,14.1,64.0,57.0,3127.285714
15,48,Pays-Bas,Male,4.93,3.33,37.47,74,50,4.80,26.40,72.80,72,396,1092,11.1,10.5,66.0,60.0,3084.600000
18,5,Autriche,Female,3.28,2.50,38.67,59,45,6.11,31.94,209.28,110,575,3767,7.5,9.3,61.0,55.0,3103.666667
22,17,Danemark,Female,1.64,1.00,6.50,36,22,3.50,90.32,175.41,77,1987,3859,8.9,9.5,59.0,59.0,3043.909091
30,65,Suède,Male,10.03,7.30,49.00,301,219,5.00,62.70,321.03,150,1881,9631,18.6,24.7,80.0,63.0,3108.066667
34,1,Allemagne,Male,2.00,1.00,19.15,68,34,1.62,3.38,31.79,55,115,1081,7.8,8.4,79.0,64.0,3089.058824
37,8,Belgique,Female,2.41,1.89,29.59,89,70,12.03,57.24,20.11,445,2118,744,8.3,8.5,62.0,48.0,3041.081081
41,24,Etats-Unis,Male,3.66,3.49,30.31,150,143,0.88,3.34,8.12,36,137,333,13.0,9.0,60.0,58.0,3065.780488
53,47,Pays-Bas,Female,2.64,2.02,31.28,140,107,2.94,30.53,62.11,156,1618,3292,9.8,9.0,69.0,62.0,3109.037736
64,56,Royaume-Uni,Male,5.69,1.61,25.31,364,103,1.59,12.77,8.16,102,817,522,9.6,8.4,71.0,62.0,3070.765625
116,0,Allemagne,Female,4.03,2.72,27.33,468,315,3.05,34.66,35.28,354,4021,4092,9.5,8.9,54.0,49.0,3060.336207
118,37,Italie,Male,8.09,5.13,42.22,955,605,1.22,6.22,23.53,144,734,2777,12.7,11.1,72.0,61.0,3089.805085
133,19,Espagne,Female,5.91,3.86,29.52,786,514,2.98,37.66,104.80,397,5009,13938,13.7,14.1,66.0,49.0,3075.533835
182,23,Etats-Unis,Female,4.49,4.50,25.40,817,819,3.25,18.03,46.79,592,3282,8516,11.6,12.5,52.0,50.0,3033.225275
233,27,France,Male,2.79,2.12,25.89,649,493,2.26,4.14,19.57,526,965,4559,6.9,24.7,59.0,49.0,3066.819742
285,55,Royaume-Uni,Female,5.06,3.24,32.56,1442,922,1.47,8.62,22.69,420,2457,6466,9.1,8.8,49.0,48.0,3050.519298
337,36,Italie,Female,5.53,5.33,37.65,1865,1796,0.83,19.85,185.00,281,6689,62346,13.7,55.3,72.0,59.0,3061.949555
592,71,NaN,Male,4.52,2.88,29.88,2673,1706,1.86,9.65,19.89,1103,5715,11774,9.4,15.8,66.0,57.0,3076.165541
733,26,France,Female,3.23,2.39,25.29,2365,1749,1.03,6.25,22.01,757,4583,16133,8.0,22.4,56.0,46.0,3061.452933
2127,70,NaN,Female,4.40,3.54,29.46,9354,7523,2.06,18.76,69.99,4387,39896,148873,10.4,22.1,59.0,50.0,3060.948754
2719,72,NaN,NaN,4.42,3.39,29.55,12027,9229,2.02,16.77,59.08,5490,45611,160647,10.2,20.7,60.0,52.0,3064.261861

In [1]:
comparison= comparison.rename(columns={'country': 'state'})
comparison['state']= comparison['state'].replace({'France':'Espírito Santo', 'Italie':'Minas Gerais','Royaume-Uni':'Río de Janeiro', 'Etats-Unis':'São Paulo', 'Espagne':'Distrito Federal', 'Arménie':'Goiás','Autriche':'Mato Grosso','Australie':'Mato Grosso del Sur', 'Bahamas':'Paraná', 'Belgique':'Río Grande del Sur','Bulgarie':'Ceara','Canada': 'Santa Catarina','Chine':'Amapá', 'Chypre':'Acre','Croatie': 'Amazonas','Danemark':'Pará','Estonie':'Roraima','Finlandie':'Alagoas','Grèce':'Bahía','Hong Kong':'Paraiba','Hongrie':'Tocatins','Islande': 'Rio Grande del Norte','Irelande':'Sergipe','Japon':'Piauí','Kazakhstan':'Pernambuco','Lettonie': 'Rondônia','Lituanie':'Maranhão' })
comparison['state']

NameError: name 'comparison' is not defined

In [96]:
comparison

,index,state,sex,nbsellers,meanproductssold,meanproductslisted,meansellerpassrate,totalproductssold,totalproductslisted,meanproductsbought,meanproductswished,meanproductsliked,totalbought,totalwished,totalproductsliked,meanfollowers,meanfollows,percentofappusers,percentofiosusers,meanseniority
0,0,Allemagne,Female,116,4.03,2.72,27.33,468,315,3.05,34.66,35.28,354,4021,4092,9.5,8.9,54.0,49.0,3060.336207
1,1,Allemagne,Male,34,2.00,1.00,19.15,68,34,1.62,3.38,31.79,55,115,1081,7.8,8.4,79.0,64.0,3089.058824
2,2,Goiás,Female,1,0.00,25.00,0.00,0,25,0.00,0.00,1.00,0,0,1,4.0,8.0,NaN,NaN,3201.000000
3,3,Mato Grosso del Sur,Female,18,0.94,1.33,10.44,17,24,6.11,17.72,209.28,110,319,3767,7.5,9.3,55.0,55.0,3103.666667
4,4,Mato Grosso del Sur,Male,3,6.00,4.00,33.33,18,12,8.00,24.00,38.33,24,72,115,12.7,8.3,66.0,66.0,3085.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,68,Ukraine,Female,1,3.00,2.00,0.00,3,2,18.00,707.00,792.00,18,707,792,65.0,157.0,100.0,100.0,3204.000000
69,69,Îles Canaries,Female,1,1.00,1.00,0.00,1,1,0.00,0.00,0.00,0,0,0,3.0,8.0,NaN,NaN,2857.000000
70,70,NaN,Female,2127,4.40,3.54,29.46,9354,7523,2.06,18.76,69.99,4387,39896,148873,10.4,22.1,59.0,50.0,3060.948754
71,71,NaN,Male,592,4.52,2.88,29.88,2673,1706,1.86,9.65,19.89,1103,5715,11774,9.4,15.8,66.0,57.0,3076.165541
72,72,NaN,NaN,2719,4.42,3.39,29.55,12027,9229,2.02,16.77,59.08,5490,45611,160647,10.2,20.7,60.0,52.0,3064.261861

Se explora la composición del dataframe.

In [ ]:
comparison.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                73 non-null     int64
 1   country              70 non-null     object
 2   sex                  72 non-null     object
 3   nbsellers            73 non-null     int64
 4   meanproductssold     73 non-null     float64
 5   meanproductslisted   73 non-null     float64
 6   meansellerpassrate   73 non-null     float64
 7   totalproductssold    73 non-null     int64
 8   totalproductslisted  73 non-null     int64
 9   meanproductsbought   73 non-null     float64
 10  meanproductswished   73 non-null     float64
 11  meanproductsliked    73 non-null     float64
 12  totalbought          73 non-null     int64
 13  totalwished          73 non-null     int64
 14  totalproductsliked   73 non-null     int64
 15  meanfollowers        73 non-null     float64
 16  meanfollows          73 non-null     float64
 17  percentofappusers    66 non-null     float64
 18  percentofiosusers    65 non-null     float64
 19  meanseniority        73 non-null     float64
dtypes: float64(11), int64(7), object(2)
memory usage: 11.5+ KB

Se eliminan los nulos de la columna "country".

In [ ]:
comparison.dropna(subset='country')

,index,country,sex,nbsellers,meanproductssold,meanproductslisted,meansellerpassrate,totalproductssold,totalproductslisted,meanproductsbought,meanproductswished,meanproductsliked,totalbought,totalwished,totalproductsliked,meanfollowers,meanfollows,percentofappusers,percentofiosusers,meanseniority
0,0,Allemagne,Female,116,4.03,2.72,27.33,468,315,3.05,34.66,35.28,354,4021,4092,9.5,8.9,54.0,49.0,3060.336207
1,1,Allemagne,Male,34,2.00,1.00,19.15,68,34,1.62,3.38,31.79,55,115,1081,7.8,8.4,79.0,64.0,3089.058824
2,2,Arménie,Female,1,0.00,25.00,0.00,0,25,0.00,0.00,1.00,0,0,1,4.0,8.0,NaN,NaN,3201.000000
3,3,Australie,Female,18,0.94,1.33,10.44,17,24,6.11,17.72,209.28,110,319,3767,7.5,9.3,55.0,55.0,3103.666667
4,4,Australie,Male,3,6.00,4.00,33.33,18,12,8.00,24.00,38.33,24,72,115,12.7,8.3,66.0,66.0,3085.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,65,Suède,Female,30,10.03,7.30,49.00,301,219,5.00,62.70,321.03,150,1881,9631,18.6,24.7,66.0,56.0,3028.566667
66,66,Suède,Male,6,5.83,3.00,23.60,35,18,2.33,18.00,17.17,14,108,103,16.8,10.3,83.0,83.0,3086.666667
67,67,Taiwan,Female,1,57.00,56.00,98.00,57,56,0.00,0.00,4.00,0,0,4,83.0,8.0,100.0,100.0,2855.000000
68,68,Ukraine,Female,1,3.00,2.00,0.00,3,2,18.00,707.00,792.00,18,707,792,65.0,157.0,100.0,100.0,3204.000000
69,69,Îles Canaries,Female,1,1.00,1.00,0.00,1,1,0.00,0.00,0.00,0,0,0,3.0,8.0,NaN,NaN,2857.000000

Se verifica que haya dos registros por país.

In [ ]:
comparison.duplicated('country')

0     False
1      True
2     False
3     False
4      True
      ...
68    False
69    False
70    False
71     True
72     True
Length: 73, dtype: bool

Se visualizan los valores únicos de la columna "sex".

In [ ]:
comparison['sex'].unique()

array(['Female', 'Male', nan], dtype=object)

Se crea el dataframe "buyers" a partir del csv "Buyers-repartition-by-country".

In [ ]:
buyers=pd.read_csv('/content/abandono-carrito/Buyers-repartition-by-country.csv')
buyers

,index,country,buyers,topbuyers,topbuyerratio,femalebuyers,malebuyers,topfemalebuyers,topmalebuyers,femalebuyersratio,...,meanproductsliked,topmeanproductsbought,topmeanproductswished,topmeanproductsliked,meanofflinedays,topmeanofflinedays,meanfollowers,meanfollowing,topmeanfollowers,topmeanfollowing
0,0,France,1251,53,4.2,851,400,33,20,68.0,...,20.2,28.1,77.2,120.9,321.8,75.0,4.8,8.8,10.1,11.0
1,1,Royaume-Uni,792,38,4.8,560,232,30,8,70.7,...,29.5,22.4,161.2,193.7,298.3,68.2,5.4,8.8,11.1,12.2
2,2,Etats-Unis,912,31,3.4,700,212,21,10,76.8,...,32.8,27.9,119.4,224.1,359.3,73.0,4.9,9.7,11.7,27.9
3,3,Allemagne,578,29,5.0,409,169,21,8,70.8,...,41.1,17.8,175.7,367.2,296.6,39.3,5.1,8.6,11.2,11.3
4,4,Italie,400,21,5.3,283,117,14,7,70.8,...,35.5,24.7,208.4,103.4,247.9,40.9,6.4,11.6,14.3,15.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,57,Malte,1,0,0.0,1,0,0,0,100.0,...,2.0,NaN,NaN,NaN,366.0,NaN,3.0,8.0,NaN,NaN
58,58,Géorgie,1,0,0.0,1,0,0,0,100.0,...,2.0,NaN,NaN,NaN,37.0,NaN,3.0,8.0,NaN,NaN
59,59,Pakistan,1,0,0.0,0,1,0,0,0.0,...,1.0,NaN,NaN,NaN,431.0,NaN,4.0,9.0,NaN,NaN
60,60,Mexique,1,0,0.0,1,0,0,0,100.0,...,98.0,NaN,NaN,NaN,61.0,NaN,9.0,13.0,NaN,NaN
61,61,Qatar,1,0,0.0,1,0,0,0,100.0,...,0.0,NaN,NaN,NaN,692.0,NaN,3.0,8.0,NaN,NaN

Se explora la composición del dataframe.

In [ ]:
buyers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   index                      62 non-null     int64
 1   country                    62 non-null     object
 2   buyers                     62 non-null     int64
 3   topbuyers                  62 non-null     int64
 4   topbuyerratio              62 non-null     float64
 5   femalebuyers               62 non-null     int64
 6   malebuyers                 62 non-null     int64
 7   topfemalebuyers            62 non-null     int64
 8   topmalebuyers              62 non-null     int64
 9   femalebuyersratio          62 non-null     float64
 10  topfemalebuyersratio       33 non-null     float64
 11  boughtperwishlistratio     57 non-null     float64
 12  boughtperlikeratio         60 non-null     float64
 13  topboughtperwishlistratio  32 non-null     float64
 14  topboughtperlikeratio      33 non-null     float64
 15  totalproductsbought        62 non-null     int64
 16  totalproductswished        62 non-null     int64
 17  totalproductsliked         62 non-null     int64
 18  toptotalproductsbought     62 non-null     int64
 19  toptotalproductswished     62 non-null     int64
 20  toptotalproductsliked      62 non-null     int64
 21  meanproductsbought         62 non-null     float64
 22  meanproductswished         62 non-null     float64
 23  meanproductsliked          62 non-null     float64
 24  topmeanproductsbought      33 non-null     float64
 25  topmeanproductswished      33 non-null     float64
 26  topmeanproductsliked       33 non-null     float64
 27  meanofflinedays            62 non-null     float64
 28  topmeanofflinedays         33 non-null     float64
 29  meanfollowers              62 non-null     float64
 30  meanfollowing              62 non-null     float64
 31  topmeanfollowers           33 non-null     float64
 32  topmeanfollowing           33 non-null     float64
dtypes: float64(19), int64(13), object(1)
memory usage: 16.1+ KB

Se crea el dataframe "users" a partir del csv "6M-0K-99K.users.dataset.public".

In [ ]:
users=pd.read_csv('6M-0K-99K.users.dataset.public.csv')
users

,index,identifierHash,type,country,language,socialNbFollowers,socialNbFollows,socialProductsLiked,productsListed,productsSold,...,civilityTitle,hasAnyApp,hasAndroidApp,hasIosApp,hasProfilePicture,daysSinceLastLogin,seniority,seniorityAsMonths,seniorityAsYears,countryCode
0,0,-7279641312655250028,user,Etats-Unis,en,3,8,0,0,0,...,mrs,False,False,False,True,709,3205,106.83,8.9,us
1,1,-1456013578740053406,user,Allemagne,de,3,8,0,0,0,...,mrs,False,False,False,True,709,3205,106.83,8.9,de
2,2,9006282053848196165,user,Suède,en,3,8,0,0,0,...,mr,True,False,True,True,689,3205,106.83,8.9,se
3,3,-7154634866120535654,user,Turquie,en,3,8,0,0,0,...,mrs,False,False,False,True,709,3205,106.83,8.9,tr
4,4,2858299215060733023,user,France,en,3,8,0,0,0,...,mr,True,False,True,True,709,3205,106.83,8.9,fr
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98908,98908,-5324380437900495747,user,Etats-Unis,fr,3,8,0,0,0,...,mr,False,False,False,True,708,3204,106.80,8.9,us
98909,98909,-5607668753771114442,user,France,fr,3,8,0,0,0,...,mr,True,False,True,True,695,3204,106.80,8.9,fr
98910,98910,350630276238833248,user,Belgique,en,3,8,0,0,0,...,mr,True,True,False,True,520,3204,106.80,8.9,be
98911,98911,2006580738726207028,user,Italie,it,3,8,0,0,0,...,mrs,False,False,False,True,267,3204,106.80,8.9,it
98912,98912,-7621316584087253691,user,Guinée,fr,3,8,0,0,0,...,mr,True,False,True,True,561,3204,106.80,8.9,gn

In [ ]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98913 entries, 0 to 98912
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                98913 non-null  int64
 1   identifierHash       98913 non-null  int64
 2   type                 98913 non-null  object
 3   country              98913 non-null  object
 4   language             98913 non-null  object
 5   socialNbFollowers    98913 non-null  int64
 6   socialNbFollows      98913 non-null  int64
 7   socialProductsLiked  98913 non-null  int64
 8   productsListed       98913 non-null  int64
 9   productsSold         98913 non-null  int64
 10  productsPassRate     98913 non-null  float64
 11  productsWished       98913 non-null  int64
 12  productsBought       98913 non-null  int64
 13  gender               98913 non-null  object
 14  civilityGenderId     98913 non-null  int64
 15  civilityTitle        98913 non-null  object
 16  hasAnyApp            98913 non-null  bool
 17  hasAndroidApp        98913 non-null  bool
 18  hasIosApp            98913 non-null  bool
 19  hasProfilePicture    98913 non-null  bool
 20  daysSinceLastLogin   98913 non-null  int64
 21  seniority            98913 non-null  int64
 22  seniorityAsMonths    98913 non-null  float64
 23  seniorityAsYears     98913 non-null  float64
 24  countryCode          98913 non-null  object
dtypes: bool(4), float64(3), int64(12), object(6)
memory usage: 16.2+ MB

In [ ]:
users['socialProductsLiked'].unique()

array([    0,     4,   370,     1,    27,     2,     8,    12,    13,
          56,     7,    31,    52,     6,     3,    20,    17,    23,
         150,     9,     5,    21,    26,    11,    25,    15,    89,
          39,    28,    24,    71,    64,    14,    33,    19,   167,
          10,   373,    46,    35,   113,   475,    16,    61,   124,
        1513,   541,    32,   195,   428,   404,    34,    55,   134,
          70,   218,   177,    63,  1290,    49,    18,    22,    44,
          48,   101,    36,    42,    40,    72,    38,   191,    41,
          30,   410,    97,   145,    60,   413,    29,   123,    45,
         111,    76,   107,    59,    62,   334,   142,    51,   264,
         116,    53,   170,   115,   808,   520,    47,   755,   288,
         146,    37,    67,   599,    43,   274,   184,    95,  1751,
          66,   106,   179,   253,   839,   297,    73,   396,   133,
          58,    77,   486,    65,   894,   196,   491,   126,   173,
          75,   148,   122,    81,   143,    74,   944,   312,    90,
         128,   311,    54,   112,    87,   153,    50,   778,   103,
         157,   159,    92,   247,   271,   273,   206,   216,   182,
         147,   125,   144,    82,   183,    83,   367,   246,   208,
         141,   249,   217,    69,   211,   320,    96,   118,   477,
         554,   643,   100,   200,  1533,   896,   286,   233,   165,
         399,   324,   460,   186,   166,   164,   127,   267,    79,
         109,   210,    57,    93,    84,   381,   962,   386,   131,
         276,   241,  1078,  5109,   250,   231,   658,   317,    68,
          91,   203,   213,   494,   429,   266,   384,   436,   161,
         503,   138,   760,    98,    86,   121,   530,   262,   688,
         185,    78,   345,   105,   420,   332,   221,   117,   318,
         137,   155,   353,    99,    85,   188,  2942,   527,   563,
         766,   212,   301,   272,   162,    80,   174,   163,   135,
         152,   129,  1140,   149,   104,   357,   193,  2823,   775,
         382,   556,  5595,   342,   754,   140,   110,  1209,   136,
         226,    88,   194,   139,   578,   488,  1590,   180,   293,
         593,   156,   862,   833,   339,   502,   307,   863,   132,
       51671,  1308,   684,   466,   699,   727,   577,   108,  1345,
         198,   558,   260, 16040,   642,   733,   615,   172,   222,
         359,   176,   489,  2280,   417,   204,   336,    94,   240,
         255,   285,   628,   279,   346,   365,   709,   400,  1929,
         207,   310,  1127,   378,   160,   169,   302,  1774,  5598,
         462,   314,   355,   522,  1157,   228,   189,  1057,   214,
         933,   421,  1125,   876,   223,   470,   432,   289,   248,
         331,   591,   672,   313,   102,   309,   681,   544,   669,
        1031,   414,   263,   120,   480,   629,   955,   319,   549,
         612,   205,   904,  1160,   435,   338,  7044,   151,   451,
         818,   130,   269,   308,   187,   275,   459,  1270,   237,
         811,   295,  5979,  1023,   227,   209,  1912,   257,  1728,
         738,   422,   291,   834,   154,  3037,   474,   348,   385,
         504,   239,   454,   171,   594,   114,   402,   377,   175,
         792,   453,   710,   622,   521,   178], dtype=int64)

In [ ]:
users_copy=users.copy()

In [ ]:
df_users= users_copy.loc[:,['socialProductsLiked','seniority','productsWished','productsBought']]

In [ ]:
df_users.head()

   socialProductsLiked  seniority  productsWished  productsBought
0                    0       3205               0               0
1                    0       3205               0               0
2                    0       3205               0               0
3                    0       3205               0               0
4                    0       3205               0               0

In [ ]:
df_users.to_csv('df_users.csv')